* {
  font-family: Arial, sans-serif;
  color:white;
}


.fit-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 0.5em;
}

#sidebar{
width:480px;
height:1080px;
background: #000030;
}

.title-content {
    display: flex;
    align-items:center;
    margin-left: 10px;
    margin-top: 20px;
}

.title-image-container {
    display: flex;
    width: 70px;
    height: 100%;
    justify-content: center;
}

#title-text {
    width: 330px;
    margin-left: 10px;
    font-size:50px;
}

.commands{
    margin-left: 10px;
}
.commands p {
    font-size:40px;
    margin-bottom: 0;
}
.commands li {
    font-size:25px;
}

